form {
  div.form-row, div.display-row {
    margin: 1rem 0;
  }

  .row-label {
    display: block;
    font-size: 0.8rem;

    span.form-error {
      padding-left: 0.2rem;
      color: red;
    }
  }

  .row-input, div.row-value {
    display: block;
    width: 100%;

    &:not(.item-list) {
      padding: 0 0.5rem;
      border: 1px solid #CCC;
      border-radius: 3px;
      font-size: 0.8rem;
      line-height: 1.6rem;
      height: 1.6rem;
    }
  }

  input.row-input {
    &:hover {
      border-color: #999;
    }
    &:active, &:focus {
      border-color: #333;
    }

    &.form-error {
      border-color: #C00;
      background: #FCC;
      &:hover {
        border-color: #900;
      }
      &:active, &:focus {
        border-color: #300;
      }
    }
  }

  div.display-row div.row-value:not(.item-list) {
    background: #EEE;
  }

  div.item-list {
    .item {
      display: inline-block;

      margin-right: 0.5rem;
      padding: 0 0.5rem;
      border: 1px solid #CCC;
      border-radius: 3px;
      font-size: 0.8rem;
      line-height: 1.6rem;
      height: 1.6rem;

      &:before {
        color: inherit;
        padding-right: 0.3rem;
      }
    }

    .item.item-checked, input:checked + label.item {
      background: #EEE;
      &:before {
        display: inline;
        content: "\2611";
      }
    }

    .item.item-unchecked, input:not(:checked) + label.item {
      &:before {
        display: inline;
        content: "\2610";
      }
    }

    input[type=checkbox] {
      display: none;
    }

    &:not(.item-list-readonly) label.item {
      cursor: pointer;
    }
  }
}
