table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	thead tr {
		border-bottom: 1px solid black;

		th {
			line-height: 3rem;
		}
	}

	tbody tr {
		border-bottom: 1px solid #CCC;

		td {
			line-height: 2.5rem;
		}
	}

	.actions {
		width: 1%;
		text-align: center;
		white-space: nowrap;
	}
}
