html {
	font-size: 16px; /* =: 1rem */
	font-family: -apple-system, system-ui, sans-serif;
	line-height: 1.5;

	input, button {
		font-family: inherit;
	}
}

a, a:focus, a:hover, a:active {
	color: blue;
	text-decoration: none;
}

.comma-separated-list > .comma:last-child {
	display: none;
}

.muted {
	color: gray;
}
